:root {
    --main-color: darkcyan;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* START QUIZ PAGE STYLE */
header {
    background-color: var(--main-color);
    display: block;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 60px;
    padding: 20px;
}

header h2 {
    font-size: 30px;
    padding: 10px;
}

.startBtn {
    margin-top: 100px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.startBtn button:hover {
    font-style: italic;
}

#start {
    background-color: var(--main-color);
    /* color: white; */
    font-size: 40px;
    font-weight: bold;
    padding: 30px 60px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* TIMER STYLE */
.timer {
    text-align: center;
    padding: 50px;
    font-size: 30px;
    font-weight: bold;
}

/* QUESTIONS STYLE */
.questions {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px;
    /* border: black solid; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

}

.question {
    color: var(--main-color);
    padding-bottom: 10px;
}

.choices {
    list-style: none;
}

.choice {
    font-size: 20px;
    padding: 7px;
}

.choice:hover,
.choice[data-selected="true"] {
    font-size: 120%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.emoji {
    padding-left: 20px;
    font-weight: bold;
}

.nextBtn {
    padding-top: 10px;
}

#next {
    padding: 8px;
    width: 100%;
    border: none;
    background-color: var(--main-color);
    border-radius: 4px;
    font-size: 16px;
    color: white;
}

#next:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

/* SAVE SCORES STYLE */
.save-score {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}

.save-score h3 {
    color: var(--main-color);
    font-size: 30px;
}

.score {
    padding: 10px 0;
    font-size: 20px;
}

.submit-score {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.save-initials input {
    padding: 5px;
    align-self: stretch;
    margin-right: 5px;
}

.submit-btn {
    padding: 6px;
    background-color: var(--main-color);
    border: none;
    border-radius: 4px;
}

.submit-btn:hover {
    font-weight: bold;
}

/* HIGH SCORES PAGE STYLE */
.display-scores {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.high-scores {
    list-style: none;
    padding-bottom: 20px;
}

.high-scores li {
    background-color: #53bcbb;
    padding: 5px;
    padding-left: 10px;
}

.high-scores li:nth-child(even) {
    background: #c0e4e3;
}

.restart-or-clear {
    display: flex;
    flex-wrap: wrap;
}

.restart,
.clear {
    flex: 1;
}

.restart {
    padding-right: 5px;
}

.clear {
    padding-left: 5px;
}

.restart-btn,
.clear-btn {
    width: 100%;
    padding: 6px;
    background-color: var(--main-color);
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.restart-btn:hover,
.clear-btn:hover {
    font-weight: bold;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {

    header h1 {
        font-size: 40px;
        padding: 20px;
    }
    
    header h2 {
        font-size: 25px;
        padding: 8px;
    }

    .startBtn {
        margin-top: 80px;
    }   
    
    #start {
        font-size: 30px;
        padding: 20px 40px;
    }

    .questions {
        width: 90%;
        padding: 20px 15px;
    }

    .question {
        font-size: 20px;
    }

    .choice {
        font-size: 16px;
    }

    .save-score {
        text-align: center;
        padding: 30px;
    }

    .save-score h3 {
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .score {
        font-size: 24px;
        padding-bottom: 30px;
    }

    .submit-score {
        justify-content: center;
    }

    .restart-or-clear {
        display:block;
        flex-wrap: nowrap;
    }

    .restart {
        padding-right: 0;
       padding-bottom: 5px ;
    }
    
    .clear {
        padding-left: 0;
    }
   
}